/*-- scss:defaults --*/
// Base document colors
// navbar-fg: #f76900;
$link-color: #f76900;
$navbar-hl: #f76900;

/*-- navbar --*/
.navbar-brand > img {
    width: 200px;
    max-height: 80px;
  }

/*-- scss:rules --*/