/*-- scss:defaults --*/
// Base document colors
$navbar-bg:  black;
$navbar-fg: white;
$navbar-hl: #f76900;
$body-bg: black;
$body-color: white;
$primary: #f76900; // Modify the default primary color of Simplex theme

// Code blocks
$code-block-bg-alpha: -.8;

/*-- scss:rules --*/