/*-- scss:defaults --*/
// Base document colors
$navbar-bg:  black;
$navbar-fg: white;
$navbar-hl: #f76900;
$body-bg: black;
$body-color: white;
$link-color: #f76900;

// Code blocks
$code-block-bg-alpha: -.8;

/*-- scss:rules --*/