/*-- scss:defaults --*/
// Colors
$light-cream: #f4f3ef;

// Base document colors
$navbar-bg: $light-cream;
$navbar-hl: #f76900;
$footer-bg: $light-cream;
$primary: #f76900; // Modify the default primary color of Simplex theme

/*-- navbar --*/
.navbar-brand > img {
    width: 200px;
    max-height: 80px;
  }

/*-- scss:rules --*/